@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #fddb92, #d1fdff);

    --background: 43 62.4% 6.24%;
    --foreground: 43 9.6% 98.9%;

    --muted: 43 48% 23.400000000000002%;
    --muted-foreground: 43 9.6% 57.8%;

    --popover: 43 45.8% 10.14%;
    --popover-foreground: 43 9.6% 98.9%;

    --card: 43 45.8% 10.14%;
    --card-foreground: 43 9.6% 98.9%;

    --border: 43 48% 23.400000000000002%;
    --input: 43 48% 23.400000000000002%;

    --primary: 43 96% 78%;
    --primary-foreground: 43 9.6% 7.800000000000001%;

    --secondary: 43 48% 23.400000000000002%;
    --secondary-foreground: 43 9.6% 98.9%;

    --accent: 43 48% 23.400000000000002%;
    --accent-foreground: 43 9.6% 98.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 43 9.6% 98.9%;

    --ring: 43 96% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
